/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/**
 * END --- SETUP TAILWINDCSS EDIT
 */

.teacher-content {
  height: calc(100vh - 280px);
}

/* button {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  width: auto;
  padding: 0 20px;
  height: 40px;
  background-color: #92cc41;
  color: white;
  display: inline-block;
  position: relative;

  border-top: solid #92cc41 5px;
  border-right: solid #4aa52e 5px;
  border-bottom: solid #4aa52e 5px;
  border-left: solid #92cc41 5px;
}

button:active {
  border-top: solid #4aa52e 5px;
  border-left: solid #4aa52e 5px;
  border-right: solid #92cc41 5px;
  border-bottom: solid #92cc41 5px;
}

button::before {
  background-color: black;
  content: "";
  position: absolute;
  left: -10px;
  top: -5px;
  width: calc(100% + 20px);
  height: calc(100% + 10px);
  box-sizing: content-box;
  z-index: -1;
}

button::after {
  background-color: black;
  content: "";
  position: absolute;
  top: -10px;
  left: -5px;
  height: calc(100% + 20px);
  width: calc(100% + 10px);
  box-sizing: content-box;
  z-index: -1;
} */
